:root {
  --font-family-logo: "Dosis", sans-serif;
  --font-family: "Fira Sans", sans-serif;
  --font-size: 18px;
  --spacing: 10px;

  --light-percentage: 20%;
  --dark-percentage: 20%;
  --ultralight-percentage: 45%;
  --ultradark-percentage: 45%;

  --body-color: rgb(255, 255, 255);
  --font-color: rgb(0, 0, 0);

  --color-default-h: 0;
  --color-default-s: 0%;
  --color-default-l: 50%;

  --color-default: hsl(
    var(--color-default-h),
    var(--color-default-s),
    var(--color-default-l)
  );
  --color-default-dark: hsl(
    var(--color-default-h),
    var(--color-default-s),
    calc(var(--color-default-l) - var(--dark-percentage))
  );
  --color-default-light: hsl(
    var(--color-default-h),
    var(--color-default-s),
    calc(var(--color-default-l) + var(--light-percentage))
  );

  --color-primary-h: 0;
  --color-primary-s: 100%;
  --color-primary-l: 50%;
  --color-primary: hsl(
    var(--color-primary-h),
    var(--color-primary-s),
    var(--color-primary-l)
  );
  --color-primary-dark: hsl(
    var(--color-primary-h),
    var(--color-primary-s),
    calc(var(--color-primary-l) - var(--dark-percentage))
  );
  --color-primary-light: hsl(
    var(--color-primary-h),
    var(--color-primary-s),
    calc(var(--color-primary-l) + var(--light-percentage))
  );

  --color-black-h: 0;
  --color-black-s: 0%;
  --color-black-l: 0%;
  --color-black: hsl(
    var(--color-black-h),
    var(--color-black-s),
    var(--color-black-l)
  );
  --color-black-dark: hsl(
    var(--color-black-h),
    var(--color-black-s),
    calc(var(--color-black-l) - var(--dark-percentage))
  );
  --color-black-light: hsl(
    var(--color-black-h),
    var(--color-black-s),
    calc(var(--color-black-l) + var(--light-percentage))
  );

  --color-green-h: 100;
  --color-green-s: 50%;
  --color-green-l: 50%;
  --color-green: hsl(
    var(--color-green-h),
    var(--color-green-s),
    var(--color-green-l)
  );
  --color-green-dark: hsl(
    var(--color-green-h),
    var(--color-green-s),
    calc(var(--color-green-l) - var(--dark-percentage))
  );
  --color-green-light: hsl(
    var(--color-green-h),
    var(--color-green-s),
    calc(var(--color-green-l) + var(--light-percentage))
  );

  --color-orange-h: 25;
  --color-orange-s: 100%;
  --color-orange-l: 50%;
  --color-orange: hsl(
    var(--color-orange-h),
    var(--color-orange-s),
    var(--color-orange-l)
  );
  --color-orange-dark: hsl(
    var(--color-orange-h),
    var(--color-orange-s),
    calc(var(--color-orange-l) - var(--dark-percentage))
  );
  --color-orange-light: hsl(
    var(--color-orange-h),
    var(--color-orange-s),
    calc(var(--color-orange-l) + var(--light-percentage))
  );

  --color-red-h: 0;
  --color-red-s: 100%;
  --color-red-l: 50%;
  --color-red: hsl(var(--color-red-h), var(--color-red-s), var(--color-red-l));
  --color-red-dark: hsl(
    var(--color-red-h),
    var(--color-red-s),
    calc(var(--color-red-l) - var(--dark-percentage))
  );
  --color-red-light: hsl(
    var(--color-red-h),
    var(--color-red-s),
    calc(var(--color-red-l) + var(--light-percentage))
  );

  --color-grey-h: 360;
  --color-grey-s: 0%;
  --color-grey-l: 50%;
  --color-grey: hsl(
    var(--color-grey-h),
    var(--color-grey-s),
    var(--color-grey-l)
  );
  --color-grey-dark: hsl(
    var(--color-grey-h),
    var(--color-grey-s),
    calc(var(--color-grey-l) - var(--dark-percentage))
  );
  --color-grey-ultradark: hsl(
    var(--color-grey-h),
    var(--color-grey-s),
    calc(var(--color-grey-l) - var(--ultradark-percentage))
  );
  --color-grey-light: hsl(
    var(--color-grey-h),
    var(--color-grey-s),
    calc(var(--color-grey-l) + var(--light-percentage))
  );
  --color-grey-ultralight: hsl(
    var(--color-grey-h),
    var(--color-grey-s),
    calc(var(--color-grey-l) + var(--ultralight-percentage))
  );
}

body.dark {
  --body-color: #000;
  --font-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: calc(3 * var(--spacing));
  background-color: var(--body-color);
  color: var(--font-color);
}

.padding-1 {
  padding: var(--spacing);
}
.padding-2 {
  padding: calc(2 * var(--spacing));
}
.padding-3 {
  padding: calc(3 * var(--spacing));
}
.margin-1 {
  margin: var(--spacing);
}
.margin-2 {
  margin: calc(2 * var(--spacing));
}
.margin-3 {
  margin: calc(3 * var(--spacing));
}

.button {
  background: var(--color-default);
  border-radius: calc(var(--spacing) / 2);
  border-color: var(--color-default-dark);
}
.button:hover {
  background: var(--color-default-light);
}
.button-primary {
  background: var(--color-primary);
  border-color: var(--color-primary-dark);
}
.button-primary:hover {
  background: var(--color-primary-light);
}

.hide {
  display: none;
}
/* 
 * FONTS
 */
body,
textarea,
input,
select {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
  font-smooth: always;
}

/**
 * FORM
 */
label {
  padding: var(--spacing) 0;
  border: 2px solid trans;
  border-color: transparent;
}

form fieldset {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: var(--spacing);
  padding: var(--spacing);
  margin: 0;
  border: none;
}

textarea,
input,
select {
  border: 2px solid black;
  border-radius: calc(var(--spacing) / 2);
  padding: var(--spacing);
}

button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size);
  padding: var(--spacing) calc(2 * var(--spacing));
  text-decoration: none;
  border-style: solid;
  cursor: pointer;
}

h1.logo {
  font-family: var(--font-family-logo);
  font-size: 300%;
}

textarea#form-description {
  height: 120px;
}

div#app-form {
}

div#app-form-action {
}

div#app-form-action input {
}

div#app-list-controls {
}

div#app-list-items {
}

/**
 * ICONS
 */
.icon::before {
  font: var(--fa-font-solid);
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.icon-plus::before {
  content: "\2b";
}

.icon-moon::before {
  content: "\f186";
}

.icon-sun::before {
  content: "\f185";
}

.icon-sort::before {
  content: "\f0dc";
}

.icon-sort-down::before {
  content: "\f0dd";
}

.icon-sort-up::before {
  content: "\f0de";
}

.icon-filter-on::before {
  content: "\f205";
}

.icon-filter-off::before {
  content: "\f204";
}

.icon-edit::before {
  content: "\f304";
}

.icon-done::before {
  content: "\f00c";
}

.icon-importance-5::before {
  color: var(--color-red);
  content: "\f244";
}

.icon-importance-4::before {
  color: var(--color-orange);
  content: "\f243";
}

.icon-importance-3::before {
  content: "\f242";
}

.icon-importance-2::before {
  color: var(--color-grey);
  content: "\f241";
}

.icon-importance-1::before {
  color: var(--color-grey-light);
  content: "\f240";
}

/** 
 * THEME SWITCHER
 */
body.dark button#app-actions-switchTheme span::before {
  content: "\f185";
}

/** 
 * SORTINGS & FILTERS
 */
div#app-list-controls button[data-sort-direction="up"] span::before {
  content: "\f0de";
}

div#app-list-controls button[data-sort-direction="down"] span::before {
  content: "\f0dd";
}

div#app-list-controls button[data-filter-state="true"] span::before {
  content: "\f205";
}

div#app-list-controls button[data-filter-state="false"] span::before {
  content: "\f204";
}

/**
 * APP STATES
 */
div#app[data-action="list"] div#app-actions,
div#app[data-action="list"] div#app-list {
  display: block;
}

div#app[data-action="list"] div#app-form {
  display: none;
}

div#app[data-action="form"] div#app-actions,
div#app[data-action="form"] div#app-list {
  display: none;
}

div#app[data-action="form"] div#app-form {
  display: block;
}

/**
 * ITEMS
 */
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol li:hover {
  background: var(--color-grey-ultralight);
}

ol li.item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    "dueDate title edit"
    "importance description done";
  border-bottom: 1px solid black;
  gap: var(--spacing);
  padding: var(--spacing);
}

ol[data-filtered="true"] li.item[data-state-done="true"] {
  display: none;
}

ol li.item h3 {
  grid-area: title;
  margin: 0;
  padding: 0;
}

ol li.item p {
  grid-area: description;
  margin: 0;
  padding: 0;
}

ol li.item span.item-importance {
  grid-area: importance;
}

ol li.item span.item-dueDate {
  grid-area: dueDate;
}

ol li.item button.item-done {
  grid-area: done;
}

ol li.item button.item-edit {
  grid-area: edit;
}

span.item-importance {
  font-size: 200%;
}

button.item-edit {
  font-size: 150%;
  background: none;
  border: none;
  color: var(--color-grey);
}

button.item-edit:hover {
  color: var(--color-black);
}

button.item-done {
  font-size: 150%;
  background: none;
  border: none;
  color: var(--color-grey);
}
button.item-done:hover {
  color: var(--color-green);
}
