:root {
  --light-percentage: 20%;
  --mediumlight-percentage: 37%;
  --ultralight-percentage: 47%;
  --dark-percentage: 20%;
  --mediumdark-percentage: 30%;
  --ultradark-percentage: 40%;

  --body-color: rgb(255, 255, 255);
  --font-color: rgb(0, 0, 0);

  --color-default-h: 0;
  --color-default-s: 0%;
  --color-default-l: 50%;

  --color-default: hsl(var(--color-default-h), var(--color-default-s), var(--color-default-l));
  --color-default-dark: hsl(var(--color-default-h), var(--color-default-s), calc(var(--color-default-l) - var(--dark-percentage)));
  --color-default-light: hsl(var(--color-default-h), var(--color-default-s), calc(var(--color-default-l) + var(--light-percentage)));

  --color-primary-h: 180;
  --color-primary-s: 50%;
  --color-primary-l: 50%;
  --color-primary: hsl(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l));
  --color-primary-dark: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) - var(--dark-percentage)));
  --color-primary-mediumdark: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) - var(--mediumdark-percentage)));
  --color-primary-ultradark: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) - var(--ultradark-percentage)));
  --color-primary-light: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) + var(--light-percentage)));
  --color-primary-mediumlight: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) + var(--mediumlight-percentage)));
  --color-primary-ultralight: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) + var(--ultralight-percentage)));

  --color-secondary-h: 300;
  --color-secondary-s: 50%;
  --color-secondary-l: 50%;
  --color-secondary: hsl(var(--color-secondary-h), var(--color-secondary-s), var(--color-secondary-l));
  --color-secondary-dark: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) - var(--dark-percentage)));
  --color-secondary-mediumdark: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) - var(--mediumdark-percentage)));
  --color-secondary-ultradark: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) - var(--ultradark-percentage)));
  --color-secondary-light: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) + var(--light-percentage)));
  --color-secondary-mediumlight: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) + var(--mediumlight-percentage)));
  --color-secondary-ultralight: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) + var(--ultralight-percentage)));

  --color-alert-h: 0;
  --color-alert-s: 100%;
  --color-alert-l: 50%;
  --color-alert: hsl(var(--color-alert-h), var(--color-alert-s), var(--color-alert-l));
  --color-alert-dark: hsl(var(--color-alert-h), var(--color-alert-s), calc(var(--color-alert-l) - var(--dark-percentage)));
  --color-alert-light: hsl(var(--color-alert-h), var(--color-alert-s), calc(var(--color-alert-l) + var(--light-percentage)));

  --color-white-h: 360;
  --color-white-s: 100%;
  --color-white-l: 100%;
  --color-white: hsl(var(--color-white-h), var(--color-white-s), var(--color-white-l));

  --color-black-h: 0;
  --color-black-s: 0%;
  --color-black-l: 0%;
  --color-black: hsl(var(--color-black-h), var(--color-black-s), var(--color-black-l));

  --color-green-h: 100;
  --color-green-s: 50%;
  --color-green-l: 50%;
  --color-green: hsl(var(--color-green-h), var(--color-green-s), var(--color-green-l));
  --color-green-dark: hsl(var(--color-green-h), var(--color-green-s), calc(var(--color-green-l) - var(--dark-percentage)));
  --color-green-light: hsl(var(--color-green-h), var(--color-green-s), calc(var(--color-green-l) + var(--light-percentage)));

  --color-red-h: 0;
  --color-red-s: 100%;
  --color-red-l: 50%;
  --color-red: hsl(var(--color-red-h), var(--color-red-s), var(--color-red-l));
  --color-red-dark: hsl(var(--color-red-h), var(--color-red-s), calc(var(--color-red-l) - var(--dark-percentage)));
  --color-red-light: hsl(var(--color-red-h), var(--color-red-s), calc(var(--color-red-l) + var(--light-percentage)));

  --color-theme-button-color: var(--color-black);
  --color-theme-button-background: var(--color-primary);
  --color-theme-button-backgroundHover: var(--color-primary-light);
  --color-theme-button-background-active: var(--color-primary-light);
  --color-theme-button-border: var(--color-primary-dark);
  --color-theme-button-borderHover: var(--color-primary-dark);

  --color-theme-buttonHollow-color: var(--color-black);
  --color-theme-buttonHollow-background: var(--color-white);
  --color-theme-buttonHollow-backgroundHover: var(--color-primary-light);
  --color-theme-buttonHollow-background-active: var(--color-primary-light);
  --color-theme-buttonHollow-border: var(--color-primary-dark);
  --color-theme-buttonHollow-borderHover: var(--color-primary-dark);

  --color-theme-listItem-backgroundHover: var(--color-secondary-ultralight);
  --color-theme-listItem-button-color: var(--color-secondary-light);
  --color-theme-listItem-buttonHover-color: var(--color-black);

  --color-theme-forms-color: var(--color-black);
  --color-theme-forms-border: var(--color-black);
  --color-theme-forms-background: var(--color-white);
  --color-theme-forms-shadow: var(--color-black);
  --color-theme-forms-checkbox-background: var(--color-primary);
  --color-theme-forms-checkbox-color: var(--color-white);

  --color-theme-listItem-done-background: var(--color-secondary-ultralight);
  --color-theme-listItem-overdue-background: var(--color-secondary-mediumlight);
}
