body.dark {
  --body-color: var(--color-black);
  --font-color: var(--color-white);

  --color-theme-button-color: var(--color-white);
  --color-theme-button-background: var(--color-primary);
  --color-theme-button-backgroundHover: var(--color-primary-ultradark);
  --color-theme-button-background-active: var(--color-primary-dark);
  --color-theme-button-border: var(--color-primary-light);
  --color-theme-button-borderHover: var(--color-primary-light);

  --color-theme-buttonHollow-color: var(--color-white);
  --color-theme-buttonHollow-background: var(--color-black);
  --color-theme-buttonHollow-backgroundHover: var(--color-primary-dark);
  --color-theme-buttonHollow-background-active: var(--color-primary);
  --color-theme-buttonHollow-border: var(--color-primary-light);
  --color-theme-buttonHollow-borderHover: var(--color-primary-light);

  --color-theme-listItem-backgroundHover: var(--color-secondary-ultradark);
  --color-theme-listItem-buttonHover-color: var(--color-white);
  --color-theme-listItem-done-background: var(--color-secondary-ultradark);
  --color-theme-listItem-overdue-background: var(--color-secondary-mediumdark);

  --color-theme-forms-color: var(--color-white);
  --color-theme-forms-border: var(--color-white);
  --color-theme-forms-background: var(--color-black);
  --color-theme-forms-shadow: var(--color-white);
}

body.dark button#app-actions-switchTheme::after {
  content: '\f185';
}
