@import url('./_variables.css');
@import url('./_animations.css');
@import url('./_colors.css');
@import url('./_typography.css');
@import url('./_icons.css');
@import url('./_forms.css');
@import url('./_buttons.css');
@import url('./_theme.css');
@import url('./_responsive.css');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: calc(3 * var(--spacing));
  background-color: var(--body-color);
  color: var(--font-color);
}

footer {
  padding: calc(3 * var(--spacing)) 0 0 0;
  margin: auto 0 0 0;
}

.padding-1 {
  padding: var(--spacing);
}
.padding-2 {
  padding: calc(2 * var(--spacing));
}
.padding-3 {
  padding: calc(3 * var(--spacing));
}
.margin-1 {
  margin: var(--spacing);
}
.margin-2 {
  margin: calc(2 * var(--spacing));
}
.margin-3 {
  margin: calc(3 * var(--spacing));
}

.hide {
  display: none;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-light);
}

h1.logo {
  font-family: var(--font-family-logo);
  font-size: 400%;
  background: -webkit-linear-gradient(92deg, #95d7e3, #eb76ff);
  background-size: 600vw 600vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbowAnimation 5s linear infinite alternate;
}

textarea#form-description {
  height: 120px;
}

div#app-list-controls {
  margin: calc(2 * var(--spacing)) 0;
}

/** 
 * SORTINGS & FILTERS
 */
div#app-list-controls button[data-sort-direction='up'] span::before {
  content: '\f0de';
}

div#app-list-controls button[data-sort-direction='down'] span::before {
  content: '\f0dd';
}

div#app-list-controls button[data-filter-done-state='active'] span::before,
div#app-list-controls button[data-filter-overdue-state='active'] span::before {
  content: '\f205';
}

div#app-list-controls button[data-filter-done-state='inactive'] span::before,
div#app-list-controls button[data-filter-overdue-state='inactive'] span::before {
  content: '\f204';
}

/**
 * APP STATES
 */
div#app[data-action='list'] div#app-list {
  display: block;
}

div#app[data-action='list'] div#app-form {
  display: none;
}

div#app[data-action='form'] div#app-actions,
div#app[data-action='form'] div#app-list {
  display: none;
}

div#app[data-action='form'] div#app-form {
  display: block;
}

/**
 * ITEMS
 */
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol li.item:hover {
  background-color: var(--color-theme-listItem-hover);
}

ol li.item {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 10fr auto;
  grid-template-areas:
    'dueDate title edit'
    'importance description done';
  border-bottom: 1px solid var(--color-secondary-light);
  gap: var(--spacing);
  padding: var(--spacing);
}

ol[data-filter-done='yes'] li.item[data-state='done'] {
  display: none;
}

ol[data-filter-overdue='yes'] li.item:not([data-state='overdue']) {
  display: none;
}
/* 
ol li.item[data-state='overdue'] {
  background-color: var(--color-secondary-ultradark);
  color: var(--color-white);
}

ol li.item[data-state='done'] {
  background-color: var(--color-secondary-ultralight);
} */

ol li.item[data-state='done'] button.item-done::after {
  content: '\f2ea';
}

ol li.item h3 {
  grid-area: title;
  margin: 0;
  padding: 0;
}

ol li.item p {
  grid-area: description;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ol li.item span.item-importance {
  grid-area: importance;
}

ol li.item span.item-dueDate {
  grid-area: dueDate;
  width: 120px;
}

ol li.item button.item-done {
  grid-area: done;
  width: 50px;
}

ol li.item button.item-edit {
  grid-area: edit;
}

ol li.no-todos {
  padding: calc(5 * var(--spacing)) 0;
}

span.item-importance {
  font-size: 100%;
}

button.item-edit {
  font-size: 150%;
  background: none;
  border: none;
  color: var(--color-theme-listItem-button-color);
}

button.item-edit:hover {
  color: var(--color-theme-listItem-buttonHover-color);
}

button.item-done {
  font-size: 150%;
  background: none;
  border: none;
  color: var(--color-theme-listItem-button-color);
}

button.item-done:hover {
  color: var(--color-theme-listItem-buttonHover-color);
}
/* 
ol li.item[data-state='overdue'] button.item-done {
  color: var(--color-white);
}
ol li.item[data-state='overdue'] button.item-done:hover {
  color: var(--color-black);
}

ol li.item[data-state='overdue'] button.item-edit {
  color: var(--color-white);
}
ol li.item[data-state='overdue'] button.item-edit:hover {
  color: var(--color-black);
} */
